//- main/templates/main/index.pug -- default landing page


extends 'base.pug'
block content

    .main
        button.btn.btn-primary(type="button") Radio
        button.btn.btn-primary(type="button") Music
        button.btn.btn-primary(type="button") Power off
    
 
