//- templates/radio/group.pug -- station selector


extends 'base.pug'
block content

    h3.heading.bg-dark.p-3
        a.text-light(href="{% url 'radio-index' %}")
            em #{group}
            |
            | stations
    .table-content
        table.table.table-striped.tb-radio
            tbody
                - for station in stations
                    tr
                        td.p-3
                            a(href="{% url 'radio-play' station.0 %}") #{station.1}