//- templates/radio/index.pug -- station selector


extends 'base.pug'
block content

    h3.heading.bg-dark.text-light.p-3 Radio Groups
    .table-content
        table.table.table-striped.tb-radio
            tbody
                - for group in groups
                    tr
                        td.p-3
                            a(href="{% url 'radio-group' group.0 %}") #{group.1}

