

MUSIC_DIR=/local/Mp3_CDs
PLAYLIST_DIR=/local/radio/playlists
MPD_DB_DIR=/local/radio/db


POSTGRES_PASSWORD=somePasswordToChange
POSTGRES_USER=piradio
POSTGRES_DB=piradio
SECRET_KEY='4P_{.BJ.9#Bmsbi)EZ#^q.sn,_cN</YUhKINdwRn4hYLZd}3zcl`9n_7eDU=>^'
PIRADIO=/code



POSTGRES_SERVICE=db
POSTGRES_PORT=5432
MPD_HOST=mpd
MPD_PORT=6600

# Channel names as given by `amixer' -- set in quotes and separate by ;
MIXER_CHANNELS=" Master ; Channels "