//- templates/base.pug -- base HTML template for SimWEB application

    This HTML template uses pug (former jade) language --> https://pugjs.org .
    Requires pypugjs template loader in piradio/settings.py.
    Requires pypugjs python package via requirements.txt.

- load compress
//- load static from staticfiles
- load static
!!!5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="Cache-control", content="no-cache")
        meta(http-equiv="Expires", content="-1")
        title
            | PiRadio
        - compress css
        link(rel='stylesheet', href='{% static "css/pre_compiled.css" %}')
        link(type='text/x-sass', rel='stylesheet', href='{% static "css/application.sass" %}', charset='utf-8')
        - endcompress
        - compress js
        //- vendor java script sources first
        script(src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}")
        script(src="{% static 'vendor/bootstrap-4.4.1/js/bootstrap.min.js' %}")
        //- PiRadio sources: global first, then all others
        script(type='text/coffeescript', charset='utf-8', src="{% static 'js/global.coffee' %}")
        script(type='text/coffeescript', charset='utf-8', src="{% static 'js/ajax.coffee' %}")
        script(type='text/coffeescript', charset='utf-8', src="{% static 'js/base.coffee' %}")
        //- PiRadio sources: load application last, contains document.ready function
        script(type='text/coffeescript', charset='utf-8', src="{% static 'js/application.coffee' %}")
        - endcompress
    body.base
        - csrf_token
        block content
        
        
        footer.footer.bg-primary
            .row.align-items-center.justify-content-center.p-0
                .col.p-0.text-center
                    a(href='/main')
                        i.fas.fa-home.text-light
                .col.p-0.text-center
                    i.fas.fa-play.play-button.text-light.mpc-button(data-item='playpause')
                .col.p-0.text-center
                    i.fas.fa-step-forward.text-light.mpc-button.next-button(data-item='next')
                .col.p-0.text-center
                    i.fas.fa-volume-mute.text-light.mute-button
                .col.p-0.text-center
                    i.fas.fa-volume-up.text-light.vol-button

        .vol-over.bg-secondary
            .container-fluid.h-100
                .row.vol-head
                    - for channel in mixers
                        .col.text-center.p-3
                            strong.vol-header #{channel}
                .row.vol-sliders.pb-1
                    - for channel in mixers
                        .col.vol-slider-col.my-3
                            .vol-slider.align-self-center(data-mixer='#{channel}')
                                .vol-slider-fill(data-mixer='#{channel}').bg-primary



