//- templates/base.pug -- base HTML template for SimWEB application

    This HTML template uses pug (former jade) language --> https://pugjs.org .
    Requires pypugjs template loader in piradio/settings.py.
    Requires pypugjs python package via requirements.txt.

- load compress
// - load static from staticfiles
- load static
!!!5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="Cache-control", content="no-cache")
        meta(http-equiv="Expires", content="-1")
        title
            | PiRadio
        - compress css
        // link(rel='stylesheet', href='{% static "vendor/bootstrap-4.4.1/css/bootstrap.min.css" %}')
        link(type='text/x-sass', rel='stylesheet', href='{% static "css/application.sass" %}', charset='utf-8')
        - endcompress
        // link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        - compress js
        //- vendor java script sources first
        script(src="{% static 'vendor/jquery/jquery-3.4.1.min.js' %}")
        script(src="{% static 'vendor/bootstrap-4.4.1/js/bootstrap.min.js' %}")
        //- SimWeb sources: global first, then all others
        // script(type='text/coffeescript', charset='utf-8', src="{% static 'js/global.coffee' %}")
        // script(type='text/coffeescript', charset='utf-8', src="{% static 'js/decompress.coffee' %}")
        // script(type='text/coffeescript', charset='utf-8', src="{% static 'js/simdata.coffee' %}")
        //- SimWeb sources: load application last, contains document.ready function
        // script(type='text/coffeescript', charset='utf-8', src="{% static 'js/application.coffee' %}")
        - endcompress
    body.base
        - csrf_token
        block content
        
        
        footer.footer.bg-primary
            .row.align-items-center.justify-content-center.p-0
                .col
                    a(href='#')
                        i.fas.fa-home.text-light
                .col
                    a(href='#')
                        i.fas.fa-play.text-light
                .col
                    a(href='#')
                        i.fas.fa-play.text-light
                .col
                    a(href='#')
                        i.fas.fa-volume-up.text-light
                .col
                    a(href='#')
                        i.fas.fa-volume-up.text-light


