
html, body
    height: 100%
    
    
a.main
    width: 50%
    font-size: 5rem
    
    
.footer 
    position: absolute
    bottom: 0
    width: 100%
    height: 9rem
    display: flex

    .row
        display: flex
        width: 100%
        .col
            flex-grow: 1
            i
                font-size: 6rem