
$small-font-size: 2rem
$normal-font-size: 3rem
$large-font-size: 5rem

html, body
    height: 100%
    
    
a.main
    width: 50%
    font-size: $large-font-size

a.music
    width: 75%
    font-size: $normal-font-size
    
    
.footer 
    position: fixed
    bottom: 0
    width: 100%
    height: 9rem
    display: flex

    .row
        display: flex
        width: 100%
        .col
            flex-grow: 1
            i
                font-size: 6rem

.marquee
    position: absolute
    bottom: 9rem
    max-width: 100vw
    display: fixed
    font-size: $normal-font-size
    overflow: hidden
    line-height: normal
    white-space: nowrap

    span
        display: inline-block
        padding-left: 100%
        animation: marquee 10s linear infinite
        &:hover
            animation-play-state: paused

@keyframes marquee
    0%
        transform: translateX(0)
    100%
        transform: translateX(-100%)

strong.vol-header
    font-size: 3rem

.vol-over
    position: absolute
    width: 70%
    height: 70%
    bottom: 9rem
    right: 10%
    z-index: 1000

.vol-slider-col
    flex-grow: 1


.vol-slider
    border-radius: 1rem
    position: relative
    width: 25%
    margin: 0 auto
    padding: 0
    height: 200px
    background: rgb(248, 248, 248)


.vol-slider-fill
    border-radius: 1rem
    content: ""
    position: absolute
    z-index: 9
    bottom: 0
    top: 30%
    right: 0
    left: 0


.tb-radio
    table-layout: fixed
    tbody
        tr
            td
                a
                    font-size: $normal-font-size


h3.heading
    width: 100%
    position: fixed
    top: 0
    font-size: $large-font-size

.link-cell
    a
        width: 100%
        height: 100%
        display: block


.table-content
    padding-top: 10rem
    padding-bottom: 30rem

table.tb-playlist
    font-size: $normal-font-size
    tr.plmain:nth-of-type(odd)
        background-color: rgba(0, 0, 0, 0.05)
    tr.plmain.selected:nth-of-type(odd)
        background-color: blue
        color: white
    tr.plmain
        td.plouter
            border-top: 2px solid #ccc
    tr.plmain.selected
        background-color: blue
        color: white

table.plsub
    max-width: 100%
    width: 100%
    background-color: transparent

    tbody
        background-color: transparent

tr.plsub
    background-color: transparent
    td
        padding: 5px
    td.plindex
        border-right: 2px solid #999
        vertical-align: top
        text-align: right
        width: 4ch

    td.pltitle
        text-align: left
        vertical-align: top
        max-width: 100%

    td.pltime
        text-align: right
        vertical-align: top
        width: 6ch

    td.plaction
        text-align: center
        vertical-align: middle
        font-size: $normal-font-size
        width: 3ch

    td.plalbum
        color: #777
        font-size: $small-font-size
        vertical-align: top
        text-align: center
        max-width: 100%


tr.selectable
    max-width: 100%

tr.selected
    background-color: blue
    color: white

.top-sign
    z-index: 10
    position: fixed
    top: 2rem
    i
        font-size: 6rem

.minus-sign
    right: 10rem

.plus-sign
    right: 2rem


.modal-header
    h5
        font-size: $large-font-size
    button
        span
            font-size: $large-font-size

.modal-body
    button
        font-size: $normal-font-size


body.modal-open > :not(.modal)
    -webkit-filter: blur(5px)
    -moz-filter: blur(5px)
    -o-filter: blur(5px)
    -ms-filter: blur(5px)
    filter: blur(5px)
